<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.xixum.nlx.views.viewCategory"
            name="NLX.Views">
      </category>
      <view
     		category="org.xixum.nlx.views.viewCategory"
            id="org.xixum.nlx.view.fxviews.views.SemanticFxViewPart"
            name="Semantic Trainer View"
            icon="icons/sample.gif"
            class="org.xixum.nlx.view.fxviews.views.SemanticFxViewPart">
      </view>
   </extension>

</plugin>
